/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1100px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  background: #fff;
}

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

a {
  color: inherit;
}

ul {
  list-style: none;
}

/* --- Шапка --- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 50px 96px 50px;
  position: relative;
}

.header-left {
display: flex;
align-items: center;
gap: 100px;

}

.header__menu {
  display: flex;
  align-items: center;
}


.header__menu-list {
  display: flex;
  align-items: center;
  gap: 13px;
  text-underline-offset: 4px;
}

.header_menu-item_active {
  text-decoration: none;
}

.header__menu-item {
  font-size: 18px;
  text-decoration: underline;
  }


/* Иконки-разделители */
.separator img {
  width: 6px; 
  height: 6px;
  margin: auto;
}

.header__logo img {
    width: 148px;
    height: 105px;
    display: block;
}

.header__adress {
    color: #000;
    font-family: "Raleway";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.3px;
    text-underline-offset: 4px;
}

.header__adress a {
  text-align: right;
}

/* --- Секция cover --- */
.cover {
  position: relative;
  overflow: hidden;
  height: 757px;
  padding: 165px 59px 207px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cover .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.cover__title {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    
}
.accent-span {
    position: relative;
    display: block;
    color: #FFF;
    font-family: "Raleway";
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 30px;
    text-transform: uppercase;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.cover .description {
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
  flex-grow: 1;
}

.description p {
  color: #FFF;
  font-family: "Raleway";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 24.2px;
  text-transform: uppercase;
}

.bet-button {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 32px;
    text-align: center;
    font-family: "Raleway";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}


/* --- Лоты --- */
.lots {
  margin: 180px 24px 120px 24px;
}

.lots__heading {
  margin: 180px 915px 27px 64px;
  width: 121px;
    color: #000;
    font-family: "Raleway";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.lots__link {
    display: block;
    color: inherit;
}

.lots {
  min-height: 723px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  width: 1052px;
  min-height: 596px;
  gap: 0;
  font-size: 0;
}

.card {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 596px;
  margin-right: 25px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.no-right-margin {
  margin-right: 0;
}

.card-film {
  width: 334px;
  height: 596px;
  background-image: url(../images/card-lot-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-book {
  width: 334px;
  height: 596px;
  background-image: url(../images/card-lot-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card-painting {
  
  width: 334px;
  height: 596px;
  background-image: url(../images/card-lot-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.card__title {
  margin: 48px 40px auto 40px;
  color: #FFF;
  font-family: "Raleway";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.4px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-transform: uppercase;
  z-index: 2;
}

.card__text {
  position: relative;
  z-index: 2;
  margin: 0 40px 48px 40px;
  color: #FFF;
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.lots__more {
    display: block;
    color: #000;
    font-family: "Raleway";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-transform: none;
    line-height: normal;
    margin: 0 844px 0 64px;
    padding: 0;
    width: 192px;
    height: 23px;
}

/* --- Об аукционе --- */
.about {
    display: grid;
    grid-template-columns: 359px 1fr;
    align-items: flex-start;
}

.about__logo {
    margin: 155px 789px 320px 71px;
    padding: 64px 45.5px 62px 46.5px;
    width: 240px;         
    height: 240px;
    border-radius: 50%;   /* круг */
    background: #000; 
}

.about__logo img {
    display: block;
    align-items: center;
    justify-content: center;
    width: 100%;         
    height: auto;
    background: #000; 
}

.about__text h2 {
    color: #000;
    font-family: "Raleway";
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 256px 426px 100px 0;
    width: 291px;
    height: 47px;
}

.about__text p {
    margin: 0 0 24px 0;
    width: 100%;
    color: #000;
}

.about__text p:last-child {
    margin-bottom: 0;
}

/* --- Подвал --- */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 50px 82px 50px;
}

.footer address {
    width: 265px;
    height: 98px;
    font-weight: 400;
    font-style: normal;
    line-height: 24.3px;
    text-underline-offset: 4px;
}

.footer nav ul {
    display: flex;
    align-items: center;
    width: 160px;
    height: 70px;
    flex-direction: column;
    gap: 2px;
    text-underline-offset: 4px;
}

.footer .socials {
    display: flex;
    width: 240px;
    align-items: flex-start;
    gap: 48px;
}

.footer .socials img {
    width: 48px;
    height: 48px;
}
